@using Microsoft.AspNetCore.Identity
@using KarlixID.Web.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="d-flex" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index","Home")" method="post">
        <span class="me-2 align-self-center text-muted">
            @User.Identity?.Name
        </span>
        <button type="submit" class="btn btn-outline-secondary">Odjava</button>
    </form>
}
@* ako korisnik NIJE prijavljen – ne prikazuj ništa u navbaru *@
