@page
@using Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Promjena email adrese potvrđena";
}

<div class="text-center mt-5">
    <div class="card shadow-sm mx-auto" style="max-width: 600px;">
        <div class="card-body p-4">
            <h1 class="h4 mb-3 text-success">📨 Promjena email adrese uspješna</h1>

            <p class="lead">
                Vaša nova email adresa je potvrđena.
            </p>

            <a asp-page="./Login" class="btn btn-primary mt-3">Povratak na prijavu</a>
        </div>
    </div>
</div>
