@model KarlixID.Web.Models.ViewModels.ResetPasswordVM
@{
    ViewData["Title"] = "Reset lozinke";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ResetPassword" method="post" class="mt-3">
    <input type="hidden" asp-for="UserId" />

    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" type="password" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Postavi</button>
    <a asp-action="Index" class="btn btn-secondary">Natrag</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
